<script class="handlebars" type="text/x-handlebars-template">
    <!-- Modal -->
    <div class="modal fade" id="basic-price-new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增基础价格</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="warehouseCode" class="col-sm-4 control-label">仓库编码</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="warehouseCode" placeholder="仓库编码" value="{{#if warehouseCode}}{{warehouseCode}}{{/if}}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="warehouseName" class="col-sm-4 control-label">仓库名称</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="warehouseName" placeholder="仓库名称" value="{{#if warehouseName}}{{warehouseName}}{{/if}}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="billType" class="col-sm-4 control-label">收费类别</label>
                            <div class="col-sm-7 bill-type bill-type-select">
                                <select class="form-control bill-type">
                                    <option></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="billItem" class="col-sm-4 control-label">收费项目</label>
                            <div class="col-sm-7 bill-item-select">
                                <select class="form-control bill-item">
                                    <option>请选择收费项目...</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="billUnit" class="col-sm-4 control-label">计费单位</label>
                            <div class="col-sm-7 bill-unit bill-unit-select">
                                <select class="form-control bill-unit">
                                    <option>请选择计费单位...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price" class="col-sm-4 control-label">单价（元）</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="price" placeholder="0.00" value="{{#if price}}{{price}}{{/if}}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="minPrice" class="col-sm-4 control-label">保底价（元）</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="minPrice" placeholder="0.00" value="{{#if minPrice}}{{minPrice}}{{/if}}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="subPrice" class="col-sm-4 control-label">分包商单价（元）</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="subPrice" placeholder="0.00" value="{{#if subPrice}}{{subPrice}}{{/if}}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="subMinPrice" class="col-sm-4 control-label">分包商保底价（元）</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="subMinPrice" placeholder="0.00" value="{{#if subMinPrice}}{{subMinPrice}}{{/if}}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="bill-period" class="col-sm-4 control-label">合并周期</label>
                            <div class="col-sm-7">
                                <select class="form-control bill-period-select">
                                    <option>请选择合并周期...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="end-datetime" class="col-sm-4 control-label">合并纬度</label>
                            <div class="col-sm-7">
                                <select class="form-control bill-lat-select">
                                    <option>请选择合并纬度...</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary save-base-price">增加</button>
                </div>
            </div>
        </div>
    </div>
</script>