<script class="handlebars" type="text/x-handlebars-template">
  {{#each this}}
    <tr>
        <td>{{ownerName}}</td>
        <td>{{warehouseName}}</td>
        <td>{{billTime}}</td>
        <td>{{billType}}</td>
        <td>{{billItem}}</td>
        <td>{{orderCode}}</td>
        <td>{{unit}}</td>
        <td>{{unitNum}}</td>
        <td>{{price}}</td>
        <td>{{payment}}</td>
    </tr>
    {{/each}}
</script>