<script class="handlebars" type="text/x-handlebars-template">
  {{#each this}}
    <tr>
        <td>{{ownerName}}</td>
        <td>{{warehouseName}}</td>
        <td>{{startDatetime}}至{{endDatetime}}</td>
        <td>{{entryFee}}</td>
        <td>{{outFee}}</td>
        <td>{{keepFee}}</td>
        <td>{{serviceFee}}</td>
        <td class="bg-success">{{totalFee}}</td>
		<td><button class="btn btn-primary">下载</button></td>
    </tr>
    {{/each}}
</script>