<script class="handlebars" type="text/x-handlebars-template">
    {{#each this}}
        <tr class="provider provider-radio">
            <td><input type="checkbox" class="provider-radio-select" value="{{id}}"/></td>
            <td>{{providerCode}}</td>
            <td>{{providerName}}</td>
            <td>{{radio}}</td>
            <td><input type="button" value="修改" class="btn-default provider-radio-update" data-update-id="{{id}}" /></td>
        </tr>
    {{/each}}
</script>